@model webapp_iot_dashboard.Model.HomeModel
@{
    ViewData["Title"] = "Home Dashboard";
}

<div class="row">
    <div class="col-md-3">
        <h2>Heating system</h2>
        <div>
            Current temperature is set to: <b id="currentTemperature">@(Html.DisplayFor(model => model.CurrentTemperature))</b>
        </div>
        <div>
            Minimum temperature is set to: <b id="minimumTemperature">@(Html.DisplayFor(model => model.MinimumTemperature))</b>
        </b>
        <img id="heatingPumpAnimation" src="~/images/electric-boosted-animation.gif" style="display:@(Model.IsHeatingSystemRunning?"block":"none")"  />
    </div>
</div>
